/* main van home */



  html {
    font-family: "Starbucks";

  }


  main {
    margin:0;
    padding:0;
    list-style-type:"";
    display:grid;
    grid-template-columns:1fr;
    background-color: var(--main-background-primary);
    /* background-image:linear-gradient(180deg in hsl, #590202, #971717, #b92424); */
  }

  @media (min-width: 1024px) { 
    main {
      grid-template-columns: repeat(2, 1fr);
      padding: 5em;
      gap:1em;
    }
  }
/* Snap ik niet zo goed*/

/*********************/
/******SECTION 1******/
/*********************/

section:nth-of-type(1) { 
	background-color:var(--section-background-tertairy);
	display: flex;
    flex-direction: column;
    gap: 1em;
    height: auto;
    width: 100%;
    grid-column: 1 / -1;/* dit snap ik niet helemaal */
  }
  
  section:nth-of-type(1) h1 {
	font-family: "Starbucks";
	color: var(--text-secondary);
	font-size: 0.8em;
    margin-left: 1.5em;
    margin-top: 2em;
    font-weight: 400;
  }

  section:nth-of-type(1) a {
	background-color: var(--button-primary);
	border-radius: 10em;
	font-size: 70%;
    text-align: center;
	font-family: "Starbucks";
	text-decoration-line: none;
	color: var(--text-primary);
    font-weight: 600;
    padding: 0.8em;
    margin: 0.7em;

  }

section:nth-of-type(1) img {
	width: 100%;
	height: auto; 
}

  img {
	max-width:100%;
}

@media (width > 1024px) { 
    section:nth-of-type(1)  {
        display: grid;
        grid-template-columns:16em 1fr;
        grid-template-rows: 1fr 1fr;
        border-radius:0.5em;
    }

    section:nth-of-type(1) h1 {
        align-self: end;
        justify-self: start;
        font-size: 1em;
    }
    section:nth-of-type(1) a {
        align-self: start;
        justify-self: start;
        margin-left: 1.5em;
    }
    section:nth-of-type(1) img {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        border-radius:0.5em;
    }
}

/*********************/
/******SECTION 2******/
/*********************/

section:nth-of-type(2){
    background-color:var(--section-background-primary);
    display: flex;
    flex-direction: column;
    border-radius: 0.3em;
    font-family: "Starbucks";
    margin:1em;
}

    section:nth-of-type(2) img { order: 1; }  
    section:nth-of-type(2) h2 { order: 2; }
    section:nth-of-type(2) p  { order: 3; }
    section:nth-of-type(2) a  { order: 4; }
/* bron: chatgpt.com - Hoe verander je de order van elementen in een section */

section:nth-of-type(2) img {
    border-radius: 0.3em;
    grid-row-start:1;
    grid-column-start:1;
    grid-column-end:3;
}

section:nth-of-type(2) h2 {
    text-align: left;
    font-size: 1em;
    font-weight: 400;
    margin-left: 1.1em;
    margin-bottom: 0;
    color: var(--text-primary);
    grid-row-start:2;
}

section:nth-of-type(2) p {
    text-align: left;
    margin: 2em;
    margin-top: 1em;
    color: var(--text-primary);
    font-size: 0.6em;
    font-weight: 350;
    grid-row-start:3;
}

section:nth-of-type(2) a {
    background-color: var(--button-secondary);
    border-radius: 5em;
    text-align: center;
    color: var(--text-secondary);
    text-decoration-line: none;
    padding: 0.78em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 4em;
    font-size: 0.7em;
    grid-row-start:4;
}

@media (width > 1024px) { 
    section:nth-of-type(2)  {
        margin: 0;
        margin-top: 3em;
    }
}

/*********************/
/******SECTION 3******/
/*********************/

section:nth-of-type(3){
    background-color:var(--section-background-secondary);
    display: flex;
    flex-direction: column;
    border-radius: 0.3em;
    font-family: "Starbucks";
    margin: 1em;
}

    section:nth-of-type(3) img { order: 1; }  
    section:nth-of-type(3) h2 { order: 2; }
    section:nth-of-type(3) p  { order: 3; }
    section:nth-of-type(3) a  { order: 4; }


section:nth-of-type(3) img {
    border-radius: 0.3em;
    grid-row-start:1;
    grid-column-start:1;
    grid-column-end:3;
}

section:nth-of-type(3) h2 {
    text-align: left;
    font-size: 1em;
    font-weight: 400;
    margin-left: 1.1em;
    margin-bottom: 0;
    color: var(--text-secondary);
    grid-row-start:2;
}

section:nth-of-type(3) p {
    text-align: left;
    margin: 2em;
    margin-top: 1em;
    color: var(--text-secondary);
    font-size: 0.6em;
    font-weight: 350;
    grid-row-start:3;
}

section:nth-of-type(3) a {
    background-color: var(--button-primary);
    border-radius: 5em;
    text-align: center;
    color: var(--text-primary);
    text-decoration-line: none;
    padding: 0.78em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 4em;
    font-size: 0.7em;
    grid-row-start:4;
}
  
@media (width > 1024px) { 
    section:nth-of-type(3)  {
        margin: 0;
        margin-top: 3em;
    }
}

/*********************/
/******SECTION 4******/
/*********************/

section:nth-of-type(4){
    background-color:var(--section-background-primary);
    display: flex;
    flex-direction: column;
    border-radius: 0.3em;
    font-family: "Starbucks";
    margin: 1em;
}

    section:nth-of-type(4) img { order: 1; }  
    section:nth-of-type(4) h2 { order: 2; }
    section:nth-of-type(4) p  { order: 3; }
    section:nth-of-type(4) a  { order: 4; }


section:nth-of-type(4) img {
    border-radius: 0.3em;
    grid-row-start:1;
    grid-column-start:1;
    grid-column-end:3;
}

section:nth-of-type(4) h2 {
    text-align: left;
    font-size: 1em;
    font-weight: 400;
    margin-left: 1.1em;
    margin-bottom: 0;
    color: var(--text-primary);
    grid-row-start:2;
}

section:nth-of-type(4) p {
    text-align: left;
    margin: 2em;
    margin-top: 1em;
    color: var(--text-primary);
    font-size: 0.6em;
    font-weight: 350;
    grid-row-start:3;
}

section:nth-of-type(4) a {
    background-color: var(--button-secondary);
    border-radius: 5em;
    text-align: center;
    color: var(--text-secondary);
    text-decoration-line: none;
    padding: 0.78em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 4em;
    font-size: 0.7em;
    grid-row-start:4;
}

@media (width > 1024px) { 
    section:nth-of-type(4)  {
        margin: 0;
    }
}

/*********************/
/******SECTION 5******/
/*********************/

section:nth-of-type(5){
    background-color:var(--section-background-secondary);
    display: flex;
    flex-direction: column;
    border-radius: 0.3em;
    font-family: "Starbucks";
    margin: 1em;
}

    section:nth-of-type(5) img { order: 1; }  
    section:nth-of-type(5) h2 { order: 2; }
    section:nth-of-type(5) p  { order: 3; }
    section:nth-of-type(5) a  { order: 4; }
    

section:nth-of-type(5) img {
    border-radius: 0.3em;
    grid-row-start:1;
    grid-column-start:1;
    grid-column-end:3;
}

section:nth-of-type(5) h2 {
    text-align: left;
    font-size: 1em;
    font-weight: 400;
    margin-left: 1.1em;
    margin-bottom: 0;
    color: var(--text-secondary);
    grid-row-start:2;
}

section:nth-of-type(5) p {
    text-align: left;
    margin: 2em;
    margin-top: 1em;
    color: var(--text-secondary);
    font-size: 0.6em;
    font-weight: 350;
    grid-row-start:3;
}

section:nth-of-type(5) a {
    background-color: var(--button-primary);
    border-radius: 5em;
    text-align: center;
    color: var(--text-primary);
    text-decoration-line: none;
    padding: 0.78em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 4em;
    font-size: 0.7em;
    grid-row-start:4;
}

@media (width > 1024px) { 
    section:nth-of-type(5)  {
        margin: 0;
    }
}

/*********************/
/******SECTION 6******/
/*********************/

section:nth-of-type(6){
    background-color:var(--section-background-primary);
    display: flex;
    flex-direction: column;
    border-radius: 0.3em;
    font-family: "Starbucks";
    margin: 1em;
}

    section:nth-of-type(6) img { order: 1; }  
    section:nth-of-type(6) h2 { order: 2; }
    section:nth-of-type(6) p  { order: 3; }
    section:nth-of-type(6) a  { order: 4; }

    
section:nth-of-type(6) img {
    border-radius: 0.3em;
    grid-row-start:1;
    grid-column-start:1;
    grid-column-end:3;
}

section:nth-of-type(6) h2 {
    text-align: left;
    margin-left: 1.1em;
    margin-bottom: 0;
    font-size: 1em;
    font-weight: 400;
    color: var(--text-primary);
    grid-row-start:2;
}

section:nth-of-type(6) p {
    text-align: left;
    margin: 2em;
    margin-top: 1em;
    color: var(--text-primary);
    font-size: 0.6em;
    font-weight: 350;
    grid-row-start:3;
}

section:nth-of-type(6) a {
    background-color: var(--button-secondary);
    border-radius: 5em;
    text-align: center;
    color: var(--text-secondary);
    text-decoration-line: none;
    padding: 0.78em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 4em;
    font-size: 0.7em;
    grid-row-start:4;
}

@media (width > 1024px) { 
    section:nth-of-type(6)  {
        margin: 0;
    }
}

/*********************/
/******SECTION 7******/
/*********************/

section:nth-of-type(7){
    background-color:var(--section-background-tertairy);
    display: flex;
    flex-direction: column;
    border-radius: 0.3em;
    font-family: "Starbucks";
    margin: 1em;
    grid-column: 1 / -1;/* dit snap ik niet helemaal */
}

    section:nth-of-type(7) img { order: 1; }  
    section:nth-of-type(7) h2 { order: 2; }
    section:nth-of-type(7) p  { order: 3; }
    section:nth-of-type(7) a  { order: 4; }

    
section:nth-of-type(7) img {
    border-radius: 0.3em;
    grid-row-start:1;
    grid-column-start:1;
    grid-column-end:3;
    object-fit: cover;
}

section:nth-of-type(7) h2 {
    text-align: left;
    font-size: 1em;
    font-weight: 400;
    margin-left: 1.1em;
    margin-bottom: 0;
    color: var(--text-secondary);
    grid-row-start:2;
}

section:nth-of-type(7) p {
    text-align: left;
    margin: 2em;
    margin-top: 1em;
    color: var(--text-secondary);
    font-size: 0.6em;
    font-weight: 350;
    grid-row-start:3;
}

section:nth-of-type(7) a {
    background-color: var(--button-primary);
    border-radius: 5em;
    text-align: center;
    color: var(--text-primary);
    text-decoration-line: none;
    padding: 0.78em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 4em;
    font-size: 0.7em;
    grid-row-start:4;
}

@media (width > 1024px) { 
    section:nth-of-type(7)  {
        display: grid;
        grid-template-columns:20em 1fr;
        grid-template-rows: 0.2fr 0.3fr 0.3fr;
        margin: 0;
    }

    section:nth-of-type(7) h1 {
        grid-row-start:1;


    }
    section:nth-of-type(7) a {
        align-self: start;
        justify-self: start;

    }
    section:nth-of-type(7) p {
        grid-row-start: 3;
        justify-self: start;
        align-self: start;
    }

    section:nth-of-type(7) img {
        grid-column-start: 2;
        grid-row-start:1;
        grid-row-end:5;
        width: 100%;
        height: 100%;
        max-height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

